<% layout('layouts/boilerplate.ejs') %>

    <div class="row col-md-6 offset-md-3">
        <div class="alert alert-danger" role="alert">
            <h2><%= err.status %></h2>
            <h3><%= err.name %></h3>
            <h3><%= err.message%></h3>
        </div>
    </div>